<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Flipkart Automation Suite">

    
    <parameter name="browser" value="chrome"/>

    <test name="FlipkartAutomation" thread-count="5">

        <classes>

            <class name="com.TestRunner.TestRunner"/>
            

        </classes>

    </test>

</suite>
